/* https://coolors.co/palette/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

* {
  box-sizing: border-box;
  background-color: #fdfffc;
  border-radius: .5em;
  /* gap: .5em; */
  margin: .25em;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  /* background-color: yellow; */
  display: block;
  max-height: 100dvh;
}

.side-nav {
  /* background-color: orange; */
}

.message-window {
  /* background-color: aqua; */

  display: grid;
  grid-template-columns: 90% 10%;



  max-width: 100%;
  height: auto;
  min-height: 100px;

}

.message {
  background-color: black;
  grid-column: 1;
  display: flex;
  flex: auto;
  height: 13dvh;
  align-items: center;
  padding-left: 5px;
}

.message-buttons {
  /* background-color: blue; */

  grid-column: 2;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.del-btn {
  background-color: #2ec4b6;
}

.clear-btn {
  background-color: #e71d36;
}

.nav-bar {
background-color: grey;

/* grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 2;
grid-column-end: -1; */

}

.board {
  /* background-color: LIME; */

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  /* grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: -1; */
}

.message-word{
  /* background-color: purple; */
}

.my-button {
  display: block;

  border: .25em solid black;
  
  height: 12dvh;
  width: 12dvw;

  text-align: center;

  max-width: 100%;
  max-height: 100%;
}

.text {
  /* background-color: magenta; */
  display: block;
  font-size: 1.5vw;
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 90px;
}