/* https://coolors.co/palette/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

* {
  box-sizing: border-box;
  background-color: #fdfffc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 20vh;
  /* border-bottom: 10px #011627 solid; */
}

.message-buttons {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row;
}

.del-btn {
  height: 50%;
  background-color: #2ec4b6;
}

.clear-btn {
  height: 50%;
  background-color: #e71d36;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.button {
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  /* min-width: 12vh; */
  flex-direction: column;
  justify-content: center;
  /* flex: 0 1 11%; */
  margin: 2px;
  align-items: center;
  text-align: center;
}

.text {
  font-size: 2em;
}

.image {
  height: 100px;
  /* width: 100px; */
}