* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  height: 50px;
  background-color: darkgrey;
}

.sentence-bar {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin: 5px;
  height: 130px;
  width: auto;
}

.tile-container {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  background-color: lightblue;
}

.tile {
  display: flex; 
  flex-direction: column;
  flex: 1 1 11%;
  margin: 2px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  border: 5px solid black;
}

.image {
  flex: auto;
  height: 75px;
  width: 75px;
  margin: 2px;
}

.tileDescription {
  flex: auto;
  font-size: 2em;
  color: black;
  font-weight: bold;
}
